//------ Post style
form {
    padding: 2em;
    padding-top: 1em;

    .images-input {
        display: flex;
        flex-direction: column;
        gap: 10px;
        label {
            cursor: pointer;
        }

        .main-img {
            position: relative;
            background: #E2EDFF;
            border: 3px dashed rgba(32, 51, 84, 0.6);
            border-radius: 10px;
            height: 200px;

            label {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;

                .plus {
                    font-style: normal;
                    font-weight: 600;
                    font-size: var(--text-3xl);
                    color: #203354;
                }
                .text {
                    font-weight: 600;
                    font-size: var(--text-lg);
                    color: #828282;
                }
            }
        }
        .optional-img-container  {
            width: 100%;
            display: flex;
            justify-content: space-between;
            .optional-img {
                position: relative;
                width: 90px;
                height: 90px;

                font-weight: 600;
                font-size: var(--text-3xl);
                color: #203354;

                background: #E2EDFF;
                border: 3px dashed #CECECE;
                border-radius: 10px;

                label {
                    display: flex;
                    flex-direction:column;
                    text-align: center;
                    justify-content: center;
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }


    .input-container {
        margin-top: 12px;
        display: flex;
        flex-direction: column;
        gap: 8px;

        label {
            font-weight: 600;
            font-size: var(--text-sm);
            color: #203354;

            .required {
                color: #FF7168;
            }
        }

        input, select, textarea {
            &, &::placeholder {
                font-weight: 600;
                font-size: var(--text-sm);
                color: #203354;
            }

            border: 1.5px solid #203354;
            border-radius: 10px;
            padding: 12px 16px;
        }

        textarea {
            resize: vertical;
            min-height: 50px;
        }

    }

    hr {
        height: 2px;
        background: #203354;
    }

    .create-button {
        margin-top: 40px;
        background: #203354;
        border-radius: 10px;
        font-weight: 600;
        font-size: var(--text-sm);
        color: #FFFFFF;
        width: 100%;
        padding: 14px;
        border: none;
        cursor: pointer;
    }
}


.preview {
    position: absolute;
    z-index: 99;
    width: 100%;
    height: 100%;


    .preview-image-container {
        position: relative;
        height: 100%;
        overflow: hidden;
        .preview-image {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            img {
                width: 100%;
            }
        }
    }

    .remove {
        position: absolute;
        z-index: 99;
        background-color: transparent;
        border: none;
        top: -10px;
        right: -10px;
        width: 30px;
        padding: 0;
        img {
            width: 100%;
        }
    }
}
