//------ Ticket style
.ticket-container {
    transform: translateY(-50px);
    .top-ticket, .bottom-ticket {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #FFFFFF;
        border-radius: 10px;
        width: 80%;
        margin: auto;
        padding: 10px;
    }
    .top-ticket {
        padding-bottom: 0;
    }
    .bottom-ticket {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    h1, h2, h3, h4, h5, h6 {
        margin: 0;
        padding: 0;
    }
    .cut {
        width: 80%;
        margin: auto;
        img {
            width: 100%;
        }
    }
    .action {
        margin-bottom: 10px;
        font-weight: 500;
        font-size: var(--text-lg);
        color: #203354;
    }
    .qrcode {
        width: 200px;
        img {
            width: 100%;
        }
    }
    .price {
        margin: 10px;
        margin-bottom: 0;
        font-weight: 800;
        font-size: var(--text-lg);
        color: #203354;
    }

    .title {
        margin: 10px 0 0 0;
        font-weight: 700;
        font-size: var(--text-lg);
        color: #203354;
    }

    .promoter {
        margin:0 0  5px 0;
        font-weight: 500;
        font-size: var(--text-sm);
        color: #25262C;
    }

    .location {
        margin: 5px;
        font-weight: 500;
        font-size: var(--text-sm);
        color: #25262C;
    }

    .timeline {
        display: flex;
        align-items: center;
        gap: 20px;

        .start, .end {
            display: flex;
            flex-direction: column;
            text-align: center;

            .hours {
                font-weight: 600;
                font-size: var(--text-xl);
                color: #203354;
            }
            .date {
                font-weight: 400;
                font-size: var(--text-sm);
                color: #203354;
            }
        }
    }
}
