.header-container {
    &.desktop {
        display: none;
        background: #DCE5F4;
    }
    &.mobile {
        display: block;
        background: #203354;
    }

    header {
        padding: .8rem var(--margin-body);
        display: flex;
        align-items: center;
        justify-content: space-between;
        a {
            text-decoration: none;
            cursor: pointer;
        }
        img {
            width: 100%;
        }

        .hamburger {
            display: block;
            background-color: transparent;
            border: none;
            cursor: pointer;
        }
    }

    h1 {
        font-weight: 600;
        font-size: var(--text-xl);
        letter-spacing: -0.015em;
        color: #FFFFFF;
        margin-top: 0;
        padding-left: 2em;
        padding-bottom: 10px;
        margin-bottom: 0;
    }
}

@media only screen and (min-width: 1000px) {
    @import 'media.scss';
    
}

