.header-container {
    &.desktop {
        display: block;
        background: #DCE5F4;
    }
    &.mobile {
        display: none;
        background: transparent;
    }
    header {
        width: var(--media-body-width);
        margin: auto;
        .hamburger {
            display: none;
        }
        .menu {
            display: flex;
            gap: 20px;
            a {
                text-decoration: none;
                font-weight: 600;
                font-size: 15px;
                color: var(--color-blue);
                opacity: 0.5;

                &.active {
                    opacity: 1;
                }
            }
        }
        .auth {
            display: flex;
            a {
                font-weight: 400;
                font-size: var(--text-base);
                color: var(--color-true-white);
                text-decoration: none;
                padding: 5px 20px;
            }
            .login {
                background: var(--color-blue);
                border: 1.34881px solid #203354;
                border-radius: 8.09286px;
            }
        }
        .user {
            display: flex;
            align-items: center;
            gap: 20px;
            .welcome {
                font-weight: 400;
                font-size: 15px;
                color: var(--color-blue);
                white-space: nowrap;

                .username {
                    font-weight: 600;
                }
            }
            .user-image {
                width: 45px;
            }
        }
    }
}