.profile-container {
    background-color: #203354;
    padding-bottom: 20px;
    .profile-card {
        padding: 20px;
        width: 80%;
        margin: 0 auto;
        background: #FFFFFF;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        .details {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .left {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                .username {
                    font-weight: 600;
                    font-size: var(--text-base);
                    color: #000000;
                }
                .phone {
                    font-weight: 400;
                    font-size: var(--text-xs);
                    color: #000000;
                }
                .bio {
                    font-weight: 400;
                    font-size: var(--text-xs);
                    color: #000000;
                }
            }

            .right {
                width: 80px;
                img {
                    width: 100%;
                }
            }
        }

        .total-n-edit {
            display: flex;
            justify-content: space-between;
            .total-events {
                font-weight: 400;
                font-size: var(--text-xs);
                color: #000000;
                .nb-active {
                    font-weight: 400;
                    font-size: calc(var(--text-xs) - 0.20rem);
                    color: #000000;
                }
            }

            .edit-btn {
                width: 80px;
                text-align: center;
                font-weight: 400;
                font-size: var(--text-sm);
                color: #558A20;
            }
        }
    }
}


.event-list {
    padding: 0 30px;
    margin-top: 20px;
    label {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
        font-weight: 600;
        font-size: var(--text-base);
        color: #000000;
        margin-bottom: 10px;
        .nb-active {
            font-weight: 400;
            font-size: var(--text-xs);
        }
    }

    .event {
        display: flex;
        flex-direction: column;
        box-shadow: var(--shadow-one);
        text-decoration: none;
        border-radius: 10px;
        background: #FFFFFF;
        margin-bottom: 20px;
        
        .top {
            margin-top: 10px;
            display: flex;
            justify-content: space-between;
            padding: 0 20px;
            gap: 15px;
            .left {
                display: flex;
                padding: 10px 0;
                margin-right: auto;
                gap: 15px;
                .thumbnail {
                    width: 80px;
                    height: 80px;
                    img {
                        width: 100%;
                        border-radius: 10px;
                    }
                }
                .data {
                    display: flex;
                    flex-direction: column;

                    .title {
                        font-weight: 600;
                        font-size: var(--text-base);
                        color: var(--color-blue);
                    }
                    .location {
                        display: flex;
                        align-items: center;
                        gap: 5px;
                        font-weight: 500;
                        font-size: var(--text-xs);
                        color: var(--color-blue);
                        img {
                            width: 12px;
                        }
                    }
                    .details {
                        font-weight: 300;
                        font-size: var(--text-sm);
                        color: var(--color-blue);
                        opacity: 0.8;
                    }
                    .timeline {
                        margin-top: auto;
                        margin-bottom: 5px;
                        display: flex;
                        align-items: center;
        
                        gap: 5px;
                        font-weight: 400;
                        font-size: calc(var(--text-xs) - 0.1rem);
                        color: var(--color-blue);
                    }
                }
            }
            .right {
                display: flex;
                .separator {
                    width: 2px;
                    background: var(--color-blue);
                    height: 80%;
                    margin: auto 0;
                }

                .tickets-stats {
                    display: flex;
                    flex-direction: column;
                    padding: 10px 0;
                    gap: 10px;
                    .tickets {
                        display: flex;
                        justify-content: space-between;
                        label {
                            font-size: var(--text-xs);
                        }
                        span {
                            font-size: var(--text-lg);
                            text-align: center;
                            color: var(--color-blue);
                            opacity: 0.7;
                            font-weight: 700;
                        }
                    }
                    .price {
                        text-align: end;
                        font-weight: 700;
                        color: var(--color-blue);
                        font-size: var(--text-base);
                    }
                }
            }
        }

        .bottom {
            padding: 0px 20px;
            padding-bottom: 10px;
            display: flex;
            align-items: center;
            gap: 10px;
            .event-type {
                background: var(--color-blue);
                color: var(--color-white);
                font-weight: 300;
                font-size: var(--text-sm);
                padding: 2px 10px;
                border-radius: 5px;
            }
            .event-status {
                background: var(--color-orange);
                color: var(--color-white);
                font-weight: 300;
                font-size: var(--text-sm);
                padding: 2px 10px;
                border-radius: 5px;
                &.active {
                    background: var(--color-green);
                }
            }
            .created-at {
                margin-left: auto;
                font-size: var(--text-xs);
                font-weight: 500;
                color: var(--color-blue);
            }
        }
        

        
        
        
    }


    .not-events {
        h3 {
            margin-top: 3rem;
            font-weight: 300;
            font-size: var(--text-basic);
            text-align: center;
        }
    }

    .add-event {
        display: flex;
        flex-direction: column;
        a {
            margin-top: 3rem;
            padding: 15px 0;
            background: var(--color-blue);
            border-radius: 10px;
            font-weight: 600;
            font-size: var(--text-sm);
            color: #F8F8F8;
            text-decoration: none;
            text-align: center;
            width: 100%;

            &.disabled {
                background: var(--color-blue-light);
                cursor: default;
            }
        }
    }
}
