
.home-before-search {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.popular-event {
    padding-left: var(--margin-body);
    padding-right: var(--margin-body);
    label {
        margin-top: 25px;
        margin-bottom: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: 500;
        font-size: var(--text-lg);
        color: var(--color-true-white);
        a {
            text-decoration: none;
            font-weight: 400;
            font-size: var(--text-xs);
            color: var(--color-true-white);
        }
    }

    .event-list {
        display: flex;
        overflow-x: auto;
        gap: 20px;
        padding-bottom: 5px;

        @import '../../views/_styles/card.scss';
        &.after-search {
            flex-direction: column;
            .card {
                width: auto;
                .image {
                    .preview {
                        height: 300px;
                    }
                }
                .location-price {
                    .location {
                        font-size: var(--text-lg);
                    }
                    .price {
                        font-weight: 800;
                        font-size: var(--text-2xl);
                    }
                }
            }
        }
    }
}


.categories-container {
    padding-left: var(--margin-body);
    margin-top: 20px;
    margin-bottom: 10px;
    label {
        padding-right: 20px;
        margin-bottom: 10px;
        display: flex;
        justify-content: space-between;
        font-weight: 600;
        font-size: var(--text-base);
        color: var(--color-true-white);
        button {
            text-decoration: none;
            font-weight: 400;
            font-size: var(--text-xs);
            color: var(--color-true-white);
            background: transparent;
            border: none;
            cursor: pointer;
        }
    }
    .categories-list {
        display: flex;
        flex-direction: row;
        overflow-x: auto;
        gap: 20px;
        padding-bottom: 5px;

        .category {
            padding: 5px 15px;
            display: flex;
            align-items: center;
            gap: 7px;
            background: var(--color-true-white);
            border-radius: 27px;
            border: 1px solid var(--color-blue-light);
            text-decoration: none;

            img {
                width: 15px;
            }
            span {
                font-weight: 500;
                font-size: var(--text-xs);
                color: var(--color-blue);
                white-space: nowrap;
            }
        }
    }

}


.join-container {
    padding: 0 var(--margin-body);
    margin-top: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    h1 {
        margin: 0;
        font-weight: 700;
        font-size: var( --text-xl);
        color: var(--color-blue);
    }
    span {
        font-weight: 400;
        font-size: var(--text-base);
        color: #7A7D82;
    }
    a {
        padding: 15px;
        background: var(--color-blue);
        border-radius: 10px;
        font-weight: 600;
        font-size: var(--text-sm);
        color: #F8F8F8;
        text-decoration: none;
    }
    .create-account, .advertiser-account {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 10px;

    }
    .advertiser-account {
        span {
            font-weight: 400;
            font-size: var(--text-xs);
            color: #81848A;
            strong {
                font-weight: 600;
                font-size: var(--text-sm);
                color: #388A41;
            }
        }
    }
}


/* ------------------------------------
            Categories-slide
------------------------------------*/
.categories-slide {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 175;
    
    .bg-box {
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(32, 51, 84, 0.2);
        backdrop-filter: blur(2px);
    }
    .box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        height: 80%;
        background: var(--color-white);
        border-radius: 20px;
        box-shadow: var(--shadow-three);
        .top {
            display: flex;
            justify-content: space-between;
            padding: 20px 40px;
            .title {
                display: flex;
                align-items: center;
                gap: 10px;
                color: var(--color-blue);
            }
            button {
                background: transparent;
                border: none;
                padding: 0;
                cursor: pointer;
            }
        }
        .link-list {
            padding: 20px 40px;
            display: flex;
            flex-wrap: wrap;
            gap: 5px;
            
            .category {
                padding: 5px 10px;
                display: flex;
                align-items: center;
                gap: 7px;
                background: var(--color-true-white);
                border-radius: 27px;
                border: 1px solid var(--color-blue-light);
                text-decoration: none;
                img {
                    width: 15px;
                }
                span {
                    font-weight: 500;
                    font-size: var(--text-xs);
                    color: var(--color-blue);
                    white-space: nowrap;
                }
            }
        }
    }
}

@media only screen and (min-width: 1000px) {
    //@import 'media.scss';
    .categories-slide {
        .box {
            width: 600px;
        }
    }
}
