form {
    h1 {
        font-size: var(--text-4xl);
        margin-bottom: 0px;
    }
    h6 {
        font-size: var(--text-xs);
        font-weight: 200;
        color: white;
        margin-top: 0px;
        margin-bottom: 50px;
    }
}