html, body {
    margin: 0;
    background: var(--color-secondary);
    height: 100%;
}

.body-register {
    display: flex;
    flex-direction: column-reverse;
    height: 70%;

    .logo
    {
        padding: 2.8rem 0;
    }
}

form {
    text-align: center;
    font-family: var(--font-primary);
    padding: var(--padding-body);
    h1 {
        margin: 0;
        padding: 0;
        margin-bottom: 50px;
        font-size: var(--sz-big);
        color: var(--color-white);
    }

    .row {
        display: flex;
        align-items: flex-start;
        align-content: center;
        border-bottom: 0.5px solid var(--color-lighter);
        font-size: var(--sz-under-medium);
        margin-top: 40px;
        padding-bottom: 5px;

        label {
            width: 30px;
        }

        input {
            width: 100%;
            font-family: var(--font-primary);
            background: transparent;
            border: none;
            outline: none;
            font-size: var(--sz-small);
            color: var(--color-white);
            padding: 0;
            margin: 0;
        }
    }

    button {
        color: var(--color-secondary);
        background-color: var(--color-true-white);
        border-radius: var(--border-radius-normal);
        width: 100%;
        font-weight: 600;
        padding: 1rem;
        margin-top: 40px;
        font-size: var(--sz-under-medium);
        border: none;
        transition: .5s ease;

        &:hover
        {
            color: var(--color-theme);
            background-color: var(--color-theme-secondary);
            transition: .5s ease;
        }
    }
}

.register  {
    width: 100%;
    height: 30%;
    align-items: center;
    display: flex;
    justify-content: center;

    a {
        text-decoration: none;
        font-family: var(--font-primary);
        color: var(--color-white);
        font-size: var(--sz-small);
    }
}

.errors {
    padding: 0;
    padding-left: 30px;
    li {
        text-align: initial;
        text-decoration: none;
        list-style: none;
        color: #c94b4b;
        margin: 0;
        padding: 0;
    }
}
/* media screen */
@media screen and (min-width: 640px)
{
    .body-register
    {
        display: flex;
        justify-content: center;
        align-items: center;

        .logo
        {
            padding: 2.8rem 0;
        }

        form
        {
            text-align: center;
            width: 400px;
        }
    }
}
