.offer-container, .more-offers {
  transform: translateY(-50px);
}

.offer-container {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  padding-top: 0;
}
.offer-container .images {
  background-color: white;
  padding: 10px;
  padding-bottom: 0px;
  border-radius: 10px;
  margin-bottom: 25px;
}
.offer-container .images .main-images {
  position: relative;
  border-radius: 10px;
}
.offer-container .images .main-images .location {
  position: absolute;
  top: 15px;
  left: 10px;
  font-weight: 400;
  font-size: var(--text-xs);
  color: #000000;
  background: #FFFFFF;
  border-radius: 39px;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 5px 20px;
}
.offer-container .images .main-images .bookmark {
  position: absolute;
  top: 10px;
  right: 10px;
}
.offer-container .images .main-images .preview {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}
.offer-container .images .main-images .preview img {
  width: 100%;
}
.offer-container .images .secondary-images {
  display: none;
}
.offer-container .images .nav-images {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transform: translateY(70%);
  gap: 10px;
}
.offer-container .images .nav-images .left, .offer-container .images .nav-images .right {
  display: flex;
  height: 6px;
  width: auto;
  flex: 1;
  gap: 5px;
}
.offer-container .images .nav-images .select-image {
  background: #99A7BE;
  border-radius: 26px;
  height: 6px;
  min-width: 6px;
  flex: 2;
}
.offer-container .images .nav-images .select-image.active {
  background: #203354;
  flex: 1;
}
.offer-container .images .nav-images .date {
  font-weight: 500;
  font-size: var(--text-xs);
  color: #FFFFFF;
  background: #203354;
  border: 4px solid #FFFFFF;
  border-radius: 25px;
  padding: 7px 15px;
}
.offer-container .left-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.offer-container .left-container .event-title h1 {
  margin: 0;
  font-weight: 700;
  font-size: var(--text-3xl);
  color: #203354;
}
.offer-container .left-container .event-promoter {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}
.offer-container .left-container .event-promoter img {
  border-radius: 100%;
}
.offer-container .left-container .event-promoter span {
  font-weight: 400;
  font-size: var(--text-sm);
  color: #C4C4C4;
}
.offer-container .left-container .event-date {
  font-weight: 700;
  font-size: var(--text-xl);
  color: #203354;
}
.offer-container .left-container .event-about label {
  font-weight: 600;
  font-size: var(--text-base);
  color: #203354;
}
.offer-container .left-container .event-about p {
  margin: 0;
  font-weight: 400;
  font-size: var(--text-sm);
  color: #7E838F;
}
.offer-container .left-container .event-timeline {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.offer-container .left-container .event-timeline label {
  font-weight: 600;
  font-size: var(--text-base);
  color: #203354;
}
.offer-container .left-container .event-timeline .timeline {
  display: flex;
  justify-content: space-between;
  padding: 14px 20px;
  background: #ECECEC;
  border-radius: 23px;
}
.offer-container .left-container .event-timeline .timeline .left {
  font-weight: 600;
  font-size: var(--text-sm);
  color: #3E4042;
}
.offer-container .left-container .event-timeline .timeline .right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  font-weight: 500;
  font-size: var(--text-xs);
  color: #888888;
}
.offer-container .left-container .buy {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.offer-container .left-container .buy .amounts {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.offer-container .left-container .buy .amounts .tickets {
  display: flex;
  /* Chrome, Safari, Edge, Opera */
  /* Firefox */
}
.offer-container .left-container .buy .amounts .tickets button {
  font-weight: 500;
  font-size: var(--text-lg);
  color: #203354;
  border: 1px solid #203354;
  border-radius: 4.19641px;
  width: 40px;
  height: 40px;
}
.offer-container .left-container .buy .amounts .tickets button.plus {
  background: #203354;
  color: #FFFFFF;
}
.offer-container .left-container .buy .amounts .tickets button.minus {
  background: transparent;
  color: #203354;
}
.offer-container .left-container .buy .amounts .tickets input {
  width: 40px;
  text-align: center;
  border: none;
}
.offer-container .left-container .buy .amounts .tickets input::-webkit-outer-spin-button,
.offer-container .left-container .buy .amounts .tickets input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.offer-container .left-container .buy .amounts .tickets input[type=number] {
  -moz-appearance: textfield;
}
.offer-container .left-container .buy .price {
  font-weight: 700;
  font-size: var(--text-3xl);
  color: #203354;
}
.offer-container .left-container .buy .request {
  background: #203354;
  border: none;
  border: none;
  border-radius: 10px;
  font-weight: 600;
  font-size: var(--text-base);
  color: #FFFFFF;
  padding: 10px;
  width: 100%;
}

.more-offers {
  padding-left: 2rem;
  padding-right: 2rem;
}
.more-offers label {
  font-weight: 700;
  font-size: var(--text-xl);
  color: #203354;
}
.more-offers .offer-list {
  display: flex;
  gap: 10px;
  overflow-x: scroll;
}
.more-offers .offer-list .card {
  width: 210px;
  min-width: 210px;
  background: #F6FAFD;
  border-radius: 10px;
  padding: 10px;
}
.more-offers .offer-list .card .image {
  position: relative;
  margin-bottom: 17px;
}
.more-offers .offer-list .card .image .location {
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 5px 10px;
  background: #F6FAFD;
  border-radius: 17.8319px;
  font-weight: 400;
  font-size: var(--text-xs);
  color: #203354;
}
.more-offers .offer-list .card .image .bookmark {
  position: absolute;
  top: 10px;
  right: 10px;
}
.more-offers .offer-list .card .image .preview {
  border-radius: 10px;
  overflow: hidden;
}
.more-offers .offer-list .card .image .preview img {
  width: 100%;
}
.more-offers .offer-list .card .image .date {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(30%);
  background: #203354;
  border: 5px solid #F6FAFD;
  border-radius: 30px;
  padding: 7px 15px;
  font-weight: 500;
  font-size: var(--text-xs);
  line-height: 12px;
  color: #F6FAFD;
}
.more-offers .offer-list .card .title {
  font-weight: 600;
  font-size: var(--text-sm);
  color: #203354;
}
.more-offers .offer-list .card .promoter-duration {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.more-offers .offer-list .card .promoter-duration .promoter, .more-offers .offer-list .card .promoter-duration .duration {
  font-weight: 400;
  font-size: var(--text-xs);
  color: #ADADAD;
}
.more-offers .offer-list .card .promoter-duration .duration {
  font-size: var(--text-sm);
}
.more-offers .offer-list .card .view-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.more-offers .offer-list .card .view-price .view-button {
  text-decoration: none;
  background: transparent;
  border: 1px solid #203354;
  border-radius: 7px;
  padding: 7px 10px;
  font-weight: 600;
  font-size: var(--text-xs);
  color: #203354;
}
.more-offers .offer-list .card .view-price .price {
  font-weight: 700;
  font-size: var(--text-sm);
  color: #203354;
}/*# sourceMappingURL=styles.css.map */