
.offer-container {

    .left-container {
        .event-title {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 10px;

            span {
                padding: 1px 8px;
                border-radius: 30px;
                color: var(--color-white);
                font-weight: 500;
                font-size: var(--text-xs);
                background: var(--color-blue-light);
            }
        }
    }
}

.stats-panel {
    background: var(--color-background-two);
    box-shadow: var(--shadow-one);
    border-radius: 10px;
    padding: 0px 20px;
    .decor {
        width: 60%;
        height: 4px;
        margin: 20px auto ;
        border-radius:30px;
        background: var(--color-blue-light);

        &:first-of-type {
            margin-bottom: 25px;
        }
        &:last-of-type {
            margin-top: 20px;
        }
    }
    .event-status {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        .vip, .active, .verified {
            display: flex;
            flex-direction: column;
            align-items: center;
            span {
                margin-top: 10px;
                font-weight: 600;
                white-space: break-spaces;
                width: 70px;
                text-align: center;
                &.true {
                    color: var(--color-green);
                }
                &.false {
                    color: var(--color-orange);
                }
            }
        }

        .vip {
            span {
                color: var(--color-yellow);
            }
        }
    }

    .total-tickets-stats {
        margin-top: 25px;
        h1 {
            font-weight: 700;
            font-size: var(--text-2xl);
            color: var(--color-blue);
            margin: 5px 0;
        }
        label {
            font-weight: 600;
            font-size: var(--text-base);
            color: var(--color-blue);
        }
        .stats {
            margin-top: 5px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background: var(--color-background-light-one);
            border-radius: 10px;
            padding: 10px 20px;

            .amounts {
                display: flex;
                flex-direction: column;
                gap: 10px;
                p {
                    margin: 0;
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    span {
                        font-weight: 600;
                        font-size: var(--text-sm);
                        color: #3E4042;
                        &.number {
                            font-weight: 500;
                            font-size: var(--text-xs);
                            color: #888888;
                        }
                    }
                }
            }
            .price {
                font-weight: 700;
                font-size: var(--text-2xl);
                color: var(--color-blue);
            }
        }
    }

    .other-stats {
        h1 {
            font-weight: 700;
            font-size: var(--text-2xl);
            color: var(--color-blue);
            margin: 5px 0;
        }

        table {
            width: 100%;
            background: var(--color-background-light-one);
            border-radius: 10px;
            padding: 10px 10px;
            tr {
                width: 100%;
                &:nth-child(even) {
                    background-color: var(--color-white);
                }
            }
            td {
                padding: 0 10px;
                &:first-of-type {
                    font-weight: 600;
                    font-size: var(--text-sm);
                    color: #3E4042;
                    border-radius: 7px 0 0 7px;
                }
                &:last-of-type {
                    font-weight: 500;
                    font-size: var(--text-sm);
                    color: #888888;
                    border-radius: 0 7px 7px 0;
                }
            }
        }
    }
}


.edit-btn {
    text-decoration: none;
    background: var(--color-blue);
    border: none;
    border: none;
    border-radius: 10px;
    font-weight: 600;
    font-size: var(--text-base);
    color: #FFFFFF;
    padding: 10px;
    text-align: center;
    cursor: pointer;
}
