@media screen and (min-width: 640px) {
  header {
    padding: 0.8rem 1.8rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--color-true-white);
  }
  header .login {
    display: flex;
  }
  header .logo .hamburger {
    display: none;
  }
  header .logo .hamburger.active {
    display: none;
  }
  header .logo svg {
    width: 90%;
  }
  header .logo svg path {
    fill: var(--color-theme);
  }
  header .user {
    display: flex;
    align-items: center;
    gap: 15px;
    align-self: flex-end;
    width: 21%;
    justify-content: space-between;
  }
  header .user .dropdown {
    background: var(--color-true-white);
    width: 200px;
    position: absolute;
    top: 65px;
    right: 29px;
    justify-content: center;
    z-index: 1000;
    border: solid 0.18rem var(--color-theme-secondary);
    height: 0;
    transition: 0.5s ease;
  }
  header .user .dropdown.drop {
    display: flex;
    transition: 0.5s ease;
    height: 250px;
  }
  header .user .dropdown.hide {
    display: none;
    transition: 0.5s ease;
    height: 0;
  }
  header .user .dropdown ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 1.5rem;
    margin: 0;
  }
  header .user .dropdown ul li {
    border-top: solid 1px var(--color-theme-light);
    list-style: none;
    padding: 0 !important;
  }
  header .user .dropdown ul li:nth-child(1) {
    border-top: none;
  }
  header .user .dropdown ul li a {
    font-weight: 500;
    font-size: var(--sz-small);
    font-family: var(--font-primary);
    color: var(--color-lighter);
    text-decoration: none;
    transition: 0.5s ease;
  }
  header .user .dropdown ul li a:hover {
    color: var(--color-theme);
    transition: 0.5s ease;
  }
  header .user span {
    font-family: var(--font-primary);
    color: var(--color-theme);
    font-size: calc(var(--sz-small) - 0.15rem);
    font-weight: 700;
    max-width: 94px;
    width: 100%;
  }
  header .user a {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header .user a svg path {
    fill: var(--color-theme);
  }
  header nav {
    display: flex;
    width: 100%;
  }
  header nav ul {
    padding: 0;
    display: flex;
    width: 100%;
    justify-content: center;
    list-style: none;
    gap: 30px;
    align-items: center;
  }
  header nav ul.links {
    display: flex;
    flex-direction: row;
    height: 0;
    width: 100%;
  }
  header nav ul li {
    list-style: none;
  }
  header nav ul li a {
    text-decoration: none;
    font-family: var(--font-primary);
    font-weight: 500;
    color: rgba(24, 30, 39, 0.6666666667);
    font-size: calc(var(--sz-big));
    transition: 0.5s ease;
  }
  header nav ul li a.active {
    color: var(--color-theme);
    font-weight: 700;
  }
  header nav ul li a:hover {
    color: var(--color-theme);
    font-weight: 700;
    transition: 0.5s ease;
  }
  .body-top {
    background: var(--color-theme-light);
    display: flex;
  }
  .body-top .event-container {
    width: 100%;
    padding: 0 calc(var(--padding-body-lg) + 2rem);
  }
  .body-top .side-menu {
    margin-top: 4rem;
    flex-direction: column;
    width: 35%;
    background-color: var(--color-true-white);
    position: absolute;
    z-index: 100;
    min-height: 1202px;
    height: 100vh;
    transition: 0.9s ease;
    display: none;
  }
  .body-top .side-menu.show {
    transition: 0.9s ease;
    transform: translateX(0px);
    display: flex;
  }
  .body-top .side-menu.hide {
    transition: 0.9s ease;
    transform: translateX(-600px);
  }
  .body-top .side-menu .row a {
    align-self: self-start;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    padding: 0.7rem;
    width: 45px;
    height: 45px;
    top: 5px;
    right: 5px;
    transition: 0.5s ease;
  }
  .body-top .side-menu .row a svg {
    width: 45px;
    height: 45px;
    transition: 0.5s ease;
  }
  .body-top .side-menu .row a svg path {
    fill: var(--color-secondary);
    transition: 0.5s ease;
  }
  .body-top .side-menu .row a:hover svg {
    width: 45px;
    height: 45px;
    transform: rotate(360deg);
    transition: 0.5s ease;
  }
  .body-top .side-menu .row a:hover svg path {
    fill: var(--color-theme);
    transition: 0.5s ease;
  }
  .body-top .side-menu .container {
    padding: 1rem calc(var(--padding-body) + 2rem);
    display: flex;
  }
  .body-top .side-menu .container form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 30px;
  }
  .body-top .side-menu .container form .row {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .body-top .side-menu .container form .row .ui-widget.ui-widget-content {
    margin-top: 2rem;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    width: 100%;
    height: 3.14px;
    border-radius: 16px;
    background: var(--color-theme-light);
    outline: none;
    border: none;
  }
  .body-top .side-menu .container form .row .ui-widget.ui-widget-content span.ui-slider-handle.ui-corner-all.ui-state-default {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    width: 25px;
    height: 25px;
    background: var(--color-theme);
    cursor: pointer;
    top: -13px;
    border: none;
    border-radius: 0;
    outline: none;
  }
  .body-top .side-menu .container form .row .ui-widget.ui-widget-content .ui-slider-range.ui-corner-all.ui-widget-header {
    background-color: var(--color-theme);
    height: 8px;
    border: none;
    top: -3px;
  }
  .body-top .side-menu .container form .row h4 {
    color: var(--color-theme);
    font-family: Inter;
    font-size: calc(var(--sz-large) - 5px);
    font-weight: 600;
  }
  .body-top .side-menu .container form .row .location {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  .body-top .side-menu .container form .row .location span {
    font-family: var(--font-primary);
    font-weight: 500;
    font-size: var(--sz-medium);
    color: var(--color-secondary);
  }
  .body-top .side-menu .container form .row .cont {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .body-top .side-menu .container form .row .box {
    display: flex;
    align-items: center;
    width: 100%;
    height: 45px;
  }
  .body-top .side-menu .container form .row .slider {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    width: 100%;
    height: 3.14px;
    border-radius: 16px;
    background: var(--color-theme-light);
    outline: none;
  }
  .body-top .side-menu .container form .row .slider:hover {
    cursor: pointer;
  }
  .body-top .side-menu .container form .row .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
            appearance: none;
    width: 25px;
    height: 25px;
    background: var(--color-theme);
    cursor: pointer;
  }
  .body-top .side-menu .container form .row .search {
    padding: 0;
    width: 100%;
    display: flex;
  }
  .body-top .side-menu .container form .row .search h1 {
    font-family: var(--font-primary);
    color: var(--color-theme);
    font-size: var(--sz-large);
  }
  .body-top .side-menu .container form .row .search input {
    border-radius: var(--border-radius-round);
    display: flex;
    align-self: center;
    align-items: center;
    background-color: var(--color-theme-light);
    font-family: var(--font-primary);
    font-size: var(--sz-big);
    padding: calc(var(--padding-body) - 0.5rem);
    height: 25px;
    width: 100%;
    border: none;
    outline: none;
  }
  .body-top .side-menu .container form .row .search ::-moz-placeholder {
    color: var(--color-theme);
    font-size: var(--sz-big);
  }
  .body-top .side-menu .container form .row .search :-ms-input-placeholder {
    color: var(--color-theme);
    font-size: var(--sz-big);
  }
  .body-top .side-menu .container form .row .search ::placeholder {
    color: var(--color-theme);
    font-size: var(--sz-big);
  }
  .body-top .side-menu .container form .row .price {
    padding: 0;
    width: 100%;
    display: flex;
    gap: 10px;
    justify-content: space-between;
  }
  .body-top .side-menu .container form .row .price h1 {
    font-family: var(--font-primary);
    color: var(--color-theme);
    font-size: var(--sz-large);
  }
  .body-top .side-menu .container form .row .price input {
    border-radius: var(--border-radius-round);
    display: flex;
    align-self: center;
    align-items: center;
    background-color: var(--color-theme-light);
    color: var(--color-theme);
    font-family: var(--font-primary);
    font-weight: 500;
    font-size: var(--sz-big);
    padding: calc(var(--padding-body) - 0.2rem);
    height: 25px;
    width: 40%;
    border: none;
    outline: none;
  }
  .body-top .side-menu .container form .row .price ::-moz-placeholder {
    color: var(--color-theme);
    font-size: var(--sz-big);
  }
  .body-top .side-menu .container form .row .price :-ms-input-placeholder {
    color: var(--color-theme);
    font-size: var(--sz-big);
  }
  .body-top .side-menu .container form .row .price ::placeholder {
    color: var(--color-theme);
    font-size: var(--sz-big);
  }
  .body-top .search {
    margin: 0;
    padding: 0;
  }
  .body-top .search h1 {
    font-family: var(--font-primary);
    color: var(--color-theme);
    font-size: var(--sz-large);
    margin: 1rem 0;
  }
  .body-top .search form {
    background-color: var(--color-true-white);
  }
  .body-top .search form input {
    font-family: var(--font-primary);
    font-size: var(--sz-big);
    height: 25px;
    padding: 0;
  }
  .body-top .search form ::-moz-placeholder {
    color: var(--color-theme);
    font-size: var(--sz-big);
  }
  .body-top .search form :-ms-input-placeholder {
    color: var(--color-theme);
    font-size: var(--sz-big);
  }
  .body-top .search form ::placeholder {
    color: var(--color-theme);
    font-size: var(--sz-big);
  }
  .body-top .search form a {
    display: flex;
    background-color: var(--color-theme-light);
    padding: calc(var(--padding-body) - 0.2rem);
    margin-right: 10px;
    gap: 5px;
    text-decoration: none;
    color: var(--color-theme);
    font-family: var(--font-primary);
    font-size: var(--sz-medium);
    font-weight: 500;
    border-radius: var(--border-radius-normal);
  }
  .body-top .search form a svg {
    width: 60%;
  }
  .body-top .search button svg path {
    fill: var(--color-theme);
  }
  /* ------------------------------------
                Popular events
    ------------------------------------*/
  .popular-events {
    display: flex;
    flex-direction: column-reverse;
    /*----- card -----*/
  }
  .popular-events .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
  }
  .popular-events .header h4 {
    font-size: var(--sz-medium);
    color: var(--color-theme);
  }
  .popular-events .header a {
    text-decoration: none;
    font-weight: 500;
    font-family: var(--font-primary);
    color: var(--color-theme);
    font-size: calc(var(--sz-medium) - 2px);
    background-color: var(--color-true-white);
    border-radius: var(--border-radius-normal);
    padding: 0.8rem var(--padding-body);
    transition: 0.5s ease;
  }
  .popular-events .header a:hover {
    background-color: var(--color-secondary);
    color: var(--color-theme-light);
    transition: 0.5s ease;
  }
  .popular-events .card-horizental-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 40px;
    overflow: unset;
    white-space: nowrap;
    padding: 0 0 1.2rem 0;
  }
  .popular-events .card-horizental-container .card-container {
    width: 100%;
    display: flex;
    justify-self: flex-end;
    justify-content: space-between;
  }
  .popular-events .card-horizental-container .card-container .card {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 93%;
    margin: 0;
  }
  .popular-events .card-horizental-container .card-container .card .image .bookmark img {
    width: 35px;
  }
  .popular-events .card-horizental-container .card-container .card .details {
    gap: 12px;
    display: flex;
    flex-direction: column;
  }
  .popular-events .card-horizental-container .card-container .card .details .row .titles .title {
    font-size: var(--sz-under-medium);
  }
  .popular-events .card-horizental-container .card-container .card .details .row .titles .promoter {
    font-size: var(--sz-small);
  }
  .popular-events .card-horizental-container .card-container .card .details .row .duration span {
    font-size: var(--sz-under-medium);
  }
  .popular-events .card-horizental-container .card-container .card .details .row .location img {
    width: 14px;
  }
  .popular-events .card-horizental-container .card-container .card .details .row .location span {
    font-size: var(--sz-under-medium);
  }
  .popular-events .card-horizental-container .card-container .card .details .row .price span {
    font-size: var(--sz-under-medium);
  }
  .event-categories .category-horizental-container {
    display: flex;
    gap: 10px;
    overflow: unset;
    padding: 0 0 1.2rem 0;
  }
  .event-categories .category-horizental-container .category {
    margin: 0;
    display: flex;
    padding: 15px 20px;
    font-size: var(--sz-under-medium);
    gap: 9px;
  }
  .join {
    padding: 40px 10rem;
    background: var(--color-theme-light);
  }
  .join .option {
    display: flex;
    padding: 0 13rem;
    flex-direction: column;
    gap: 10px;
    margin-top: 1rem;
  }
  .join .option h2 {
    font-size: var(--sz-large);
  }
}
@media screen and (min-width: 1088px) {
  .popular-events .card-horizental-container {
    grid-template-columns: repeat(3, 1fr);
  }
}/*# sourceMappingURL=media.css.map */