.side-menu {
  flex-direction: column;
  width: 100%;
  background-color: var(--color-true-white);
  position: absolute;
  top: 0;
  z-index: 100;
  min-height: 1202px;
  height: 100vh;
  display: none;
}
.side-menu.show {
  transition: 0.9s ease;
  transform: translateX(0px);
  display: flex;
}
.side-menu.hide {
  transition: 0.9s ease;
  transform: translateX(-800px);
}
.side-menu .row a {
  align-self: self-start;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  padding: 0.7rem;
  width: 45px;
  height: 45px;
  top: 5px;
  right: 5px;
  transition: 0.5s ease;
}
.side-menu .row a svg {
  width: 45px;
  height: 45px;
  transition: 0.5s ease;
}
.side-menu .row a svg path {
  fill: var(--color-secondary);
  transition: 0.5s ease;
}
.side-menu .row a:hover svg {
  width: 45px;
  height: 45px;
  transform: rotate(360deg);
  transition: 0.5s ease;
}
.side-menu .row a:hover svg path {
  fill: var(--color-theme);
  transition: 0.5s ease;
}
.side-menu .container {
  padding: 1rem calc(var(--padding-body) + 2rem);
  display: flex;
}
.side-menu .container form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 30px;
}
.side-menu .container form .row {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.side-menu .container form .row h4 {
  color: var(--color-theme);
  font-family: Inter;
  font-size: calc(var(--sz-large) - 5px);
  font-weight: 600;
}
.side-menu .container form .row .location {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.side-menu .container form .row .location span {
  font-family: var(--font-primary);
  font-weight: 500;
  font-size: var(--sz-medium);
  color: var(--color-secondary);
}
.side-menu .container form .row .cont {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.side-menu .container form .row .box {
  display: flex;
  align-items: center;
  width: 100%;
  height: 45px;
}
.side-menu .container form .row .slider {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 100%;
  height: 3.14px;
  border-radius: 16px;
  background: var(--color-theme-light);
  outline: none;
}
.side-menu .container form .row .slider:hover {
  cursor: pointer;
}
.side-menu .container form .row .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  width: 25px;
  height: 25px;
  background: var(--color-theme);
  cursor: pointer;
}
.side-menu .container form .row .search {
  padding: 0;
  width: 100%;
  display: flex;
}
.side-menu .container form .row .search h1 {
  font-family: var(--font-primary);
  color: var(--color-theme);
  font-size: var(--sz-large);
}
.side-menu .container form .row .search input {
  border-radius: var(--border-radius-round);
  display: flex;
  align-self: center;
  align-items: center;
  background-color: var(--color-theme-light);
  font-family: var(--font-primary);
  font-size: var(--sz-big);
  padding: calc(var(--padding-body) - 0.5rem);
  height: 25px;
  width: 100%;
  border: none;
  outline: none;
}
.side-menu .container form .row .search ::-moz-placeholder {
  color: var(--color-theme);
  font-size: var(--sz-big);
}
.side-menu .container form .row .search :-ms-input-placeholder {
  color: var(--color-theme);
  font-size: var(--sz-big);
}
.side-menu .container form .row .search ::placeholder {
  color: var(--color-theme);
  font-size: var(--sz-big);
}
.side-menu .container form .row .price {
  padding: 0;
  width: 100%;
  display: flex;
  gap: 10px;
  justify-content: space-between;
}
.side-menu .container form .row .price h1 {
  font-family: var(--font-primary);
  color: var(--color-theme);
  font-size: var(--sz-large);
}
.side-menu .container form .row .price input {
  border-radius: var(--border-radius-round);
  display: flex;
  align-self: center;
  align-items: center;
  background-color: var(--color-theme-light);
  color: var(--color-theme);
  font-family: var(--font-primary);
  font-weight: 500;
  font-size: var(--sz-big);
  padding: calc(var(--padding-body) - 0.2rem);
  height: 25px;
  width: 40%;
  border: none;
  outline: none;
}
.side-menu .container form .row .price ::-moz-placeholder {
  color: var(--color-theme);
  font-size: var(--sz-big);
}
.side-menu .container form .row .price :-ms-input-placeholder {
  color: var(--color-theme);
  font-size: var(--sz-big);
}
.side-menu .container form .row .price ::placeholder {
  color: var(--color-theme);
  font-size: var(--sz-big);
}/*# sourceMappingURL=side_menu.css.map */