footer {
    margin-top: auto;
    padding: 30px;

    .top-container, .social-container {
        display: none;
    }

    .bottom-container {
        margin-top: 0;
        text-align: center;
        font-weight: 600;
        font-size: var(--text-sm);

        text-align: center;

        color: var(--color-blue);
    }
}
