.success-container {
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #E2EDFF;
    border-radius: 10px;
    padding: 50px;
    width: 250px;
    box-shadow: var(--shadow-three);
    text-align: center;
    h1, h5 {
        margin: 0;
        text-align: center;
    }

    h1 {
        font-weight: 700;
        font-size: var(--text-3xl);
        color: #203354;
    }

    h5 {
        font-weight: 500;
        font-size: var(--text-base);
        color: #636363;
    }
}